.container {

    display: grid;
    grid-gap: 5px;


}
.info {
    text-align: left;
}
.emoji-container {
    background-color: aqua;

    font-size: 36px;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.emoji-container span {
    display: none;
}

.emoji-container.flipped span{
    display: block !important;
}


.container.difficulty-easy {
    grid-template-columns: repeat(3,  80px);
    grid-template-rows: repeat(4,  80px);
}

.container.difficulty-medium {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
}

.container.difficulty-hard {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
}